
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.grid-col {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
}


@media (max-width: 992px) {
  .grid-col {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .grid-col {
    flex-basis: calc(100% - 20px); 
  }
}
