<h1>ADVENTURE US</h1>


<div class="category-cards">
  <% @categories.each do |category| %>
    <%= link_to category_path(category) do %>
      <div class="category-card">
        <%= category.name%>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'Create listing', experiences_path %>
